.clearfix:after{
    display:block;
    content: '';
    clear:both;

}
ul{
    margin:0;
}
header{
    background: rgba(0,0,0,0.4);
}
nav{
    background: transparent;
    height: 50px;
}
#banner{
    background: rgba(0,0,0,0.1);
    height: 700px;
}
nav ul{
    list-style: none;
    margin:0;
    float:right;
}
nav ul li,nav .logo{
    display: inline-block;
    line-height:50px;
    margin-right:20px;
}
nav ul li a{
    line-height: inherit;
    text-decoration: none;
    display: inline-block;
    height:inherit;
    color: #FFF;
}
nav .logo {
    float: left;
    padding-left: 10px;

}


#banner .inner{
    max-width:300px;
    text-align: center;
    margin: 0 auto;
    position:relative;
    top:160px;
}

#banner .inner h1{
    margin:0;
}
button{
    border:none;
    background: #333;
    color:#eee;
    padding:10px;
}
#banner button{
    padding:14px 60px;
    background: darkcyan;

}

#banner .inner  .more{
    margin-top: 240px;
}
.sub-heading{
    line-height: 30px;
    margin: 30px 0;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing:1px;

}

.logo a{
    color: #FFF;
    text-decoration: none;
}
#banner .inner h1{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin: 0;
    padding: 10px

}
#banner{
    color: #fff;
}
h2{
    font-size: 30px;
}

h3{
    font-size:24px;
}
p{
    font-size:18px;
    letter-spacing:1px;
}
.green-section{
    text-align: center;
    color: #fff;
    background: #089DB0;
    padding: 100px 0;
}


.hr{
    width:100%;
    height:2px;
    margin:20px auto;
}
.green-section .hr{
    width:60%;
    background:#078494;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #0D6F7C;
    transform: rotate(45deg);
    margin: 20px;
}

.icon-group{
    margin-top:60px;
}

.wrapper{
     max-width:1080px;
     margin: 0 auto;
 }
.gray-section{
    background: #252f24;
    color:#FFF;
}

.gray-section .img-section{
    width:45%;
}
.img-section img{
    width:100%;
}
.gray-section .text-section{
    max-width:55%;

}
.article-preview > div{
    float:left;
    font-size: 0;
}

.article-preview:after{
    display:block;
    content: '';
    clear:both;
    visibility: hidden;

}



.text-section{
    position:relative;
    top: 68px;
    left:50px;
}

.text-section h2{
    margin-bottom:20px;
}
.text-section p{
    font-size: 18px;
    letter-spacing:1px;
}
.text-section .sub-heading{
    font-size:22px;
    margin-top:0;
}
.text-section> *{
    max-width: 90%;
}

.article-preview:nth-child(odd){
    background-color: rgba(255,255,255,0.05);
}
.purple-section{
    padding:80px;
    background: #3F3968;
    color: #FFF;
}
.purple-section .heading-wrapper{
    text-align: center;
}

.purple-section .hr{
    background: #373259;
    width:60%;
}
.card{
    float:left;
    width:50%;
    min-height:300px;
    padding:50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid white;*/
}

.card:first-child{
    background: rgba(0,0,0,0.04);
}
.card:nth-child(2)
{
    background:rgba(0,0,0,0.08);
}
.card:nth-child(3)
{
    background:rgba(0,0,0,0.12);
}
.card:nth-child(4)
{
    background:rgba(0,0,0,0.16);
}
.card:nth-child(5)
{
    background:rgba(0,0,0,0.20);
}
.card:nth-child(6)
{
    background:rgba(0,0,0,0.24);
}

footer{
    background: #333;
    color: #FFF;
    min-height:200px;
    text-align: center;
}
ul.share-group{
    display: block;
    width:1080px;
    margin:0 auto;
    padding:50px;
}
.share-group li{
    display: inline-block;
    padding: 10px;

}
.copy{
    padding-bottom: 20px;
}
.main-wrapper{
    background: #444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}